Repository mdirshadengineer/VelociLogic-Web: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, eslint

.lintstagedrc.json:

{
  "*.{js,jsx,ts,tsx,mjs,cjs,mts}": [
    "prettier --write",
    "eslint --fix",
    "eslint"
  ],
  "*.{json,md,yml,yaml,css,scss}": ["prettier --write"],
  ".storybook/**/*.{ts,tsx,js,jsx}": ["prettier --write", "eslint --fix"],
  "playwright.config.{ts,js}": ["prettier --write", "eslint --fix"],
  "vitest.config.{ts,js}": ["prettier --write", "eslint --fix"],
  "*.html": ["prettier --write"]
}

chore(other): pre-commit update lint-staged configuration
  .husky/pre-commit
Due: none

feat(setup): update project with test setup improvements
  .husky/pre-commit
  .lintstagedrc.json
  .prettierignore
  .storybook/main.ts
  __e2e__/page.e2e-spec.ts
  __tests__/page.test.tsx
  assets/.gitkeep
  lint-staged.config.ts
  package-lock.json
  package.json
  playwright.config.ts
  tsconfig.json
  vitest.config.ts
Due: prettier --write, eslint --fix, eslint

feat(setup): 🧪 Update test configurations and file structure
  playwright.config.ts
  src/__e2e__/page.e2e-spec.ts
  src/__tests__/page.spec.tsx
  vitest.config.ts
Due: prettier --write, eslint --fix, eslint

feat(setup): app ui setup
  CONTRIBUTING.md
  assets/git-commit-hooks.png
  documentation/Architecture.md
  documentation/Goals tracking dashboard.webp
  documentation/design ideas/Finance dashboard.webp
  documentation/design ideas/Upgrades tracking dashboard.webp
  documentation/design ideas/homepage design.webp
  documentation/design ideas/original-fec939b6359876752716b207fe400773.webp
  package-lock.json
  package.json
  src/__tests__/page.spec.tsx
  src/app/(main)/(app)/_components/app-sidebar.tsx
  src/app/(main)/(app)/_components/app-switcher.tsx
  src/app/(main)/(app)/_components/nav-main.tsx
  src/app/(main)/(app)/_components/nav-projects.tsx
  src/app/(main)/(app)/_components/nav-user.tsx
  src/app/(main)/(app)/app/page.tsx
  src/app/(main)/(app)/layout.tsx
  src/app/(main)/(root)/page.tsx
  src/app/(main)/layout.tsx
  src/app/(studio-app)/app/studio/[module]/[entityId]/page.tsx
  src/app/(studio-app)/app/studio/[module]/page.tsx
  src/app/(studio-app)/app/studio/_components/app-sidebar.tsx
  src/app/(studio-app)/app/studio/_components/nav-menu.tsx
  src/app/(studio-app)/app/studio/_components/nav-user.tsx
  src/app/(studio-app)/app/studio/_components/search-form.tsx
  src/app/(studio-app)/app/studio/_components/site-header.tsx
  src/app/(studio-app)/app/studio/page.tsx
  src/app/(studio-app)/layout.tsx
  src/app/_root-provider.tsx
  src/app/layout.tsx
  src/modules/app-builder/index.tsx
  src/theme/theme-provider.tsx
Due: prettier --write, eslint --fix, eslint

chore(other): vscode workspace setup
  velocilogic-platform.code-workspace
Due: none

Added .gitignore
  .gitignore
Due: none

Updated package.json
  package.json
Due: prettier --write

chore(setup): initial project setup
  package-lock.json
  package.json
  prisma/schema.prisma
  src/app/(main)/(app)/_components/app-sidebar.tsx
  src/app/(main)/(app)/_components/header/app-header.tsx
  src/app/(main)/(app)/_components/header/search-form.tsx
  src/app/(main)/(app)/_components/sidebar/app-sidebar.tsx
  src/app/(main)/(app)/_components/sidebar/team-switcher.tsx
  src/app/(main)/(app)/layout.tsx
  src/app/(main)/(studio-app)/app/studio/[module]/[entityId]/page.tsx
  src/app/(main)/(studio-app)/app/studio/[module]/page.tsx
  src/app/api/inngest/route.ts
  src/app/api/report/list/route.ts
  src/app/globals.css
  src/inngest/client.ts
  src/inngest/functions/report-list.ts
  src/inngest/functions/workflow-list.ts
  src/inngest/index.ts
  src/inngest/types.ts
  src/lib/db/prisma.ts
  src/modules/analytics/reports/components/ui/create-report-form.tsx
  src/modules/analytics/reports/index.ts
  src/modules/analytics/reports/pages/reports-list.tsx
Due: prettier --write, eslint --fix, eslint
